@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --bright-orange:hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white-paras: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}
body{
    background-color: var(--very-light-gray);
}

.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid black;
    padding: 0;
}


.flex-item{
    width: 300px;
    
}
.flex-item-1{
    background-color: var(--bright-orange);
    min-height: 500px;
}
.flex-item-2{
    background-color: var(--dark-cyan);
    min-height: 500px;
}
.flex-item-3{
    background-color: var(--very-dark-cyan);
    min-height: 500px;
}
.flex-item > img{
    padding:30px 0 0 30px;
}
.flex-item > h1{
    font-family: 'Big Shoulders Display';
    padding: 30px 0 0 30px;
    color: var(--very-light-gray)
}
.flex-item > p{
    font-family: 'Lexend Deca';
    padding: 30px;
    color: var(--transparent-white-paras)
}
.flex-item-1 > button{
    color: var(--bright-orange);
    border-radius: 25%;
}
.flex-item-1{
    border-radius: 10px 0 0 10px;
}
.flex-item-3{
    border-radius: 0 10px 10px 0;
}



.attribution { 
    font-size: 11px; text-align: center;
    visibility: hidden; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
    }
    